.input_container {
  margin: 0 auto;
  max-width: 840px;
  display: flex;
  gap: 12px;
}

.buttons_container {
  width: 430px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.circle_container {
  padding-left: 0;
  padding-top: 120px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: center;
  list-style-type: none;
}

.clear {
  margin-left: 80px;
}
